*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.relative{
    position: relative;
}
.absolute{
    position: absolute;
}

.container{
    max-width: 432px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 8px;
    background-color: #ffffff; 
    box-shadow: 0 0 5px rgb(200, 200, 200);
}
.dk{
   padding: 10px 16px;
}
.dk-title{
    color: #1c1e21;
    font-size: 32px;
    line-height: 38px;
    font-weight: 600;
}
.dk-caption{
    color: #606770;
    font-size: 15px;
    line-height: 24px;
}
.X{
    color: #1c1e21;
    right: 10px;
    top: 12px;
    width: 24px;
    height: 24px;
}
form{
    border-top: 1px solid #dadde1;
    padding: 16px;
}
.full-name, .phone, .pass{
   width: 399px; 
   justify-content: space-between;
   height: 50px;
   
}

.ho-input, .ten-input, .phone-input, .pass-input{
    font-size: 15px;
    line-height: 16px;
    padding: 11px;
    background: #f5f6f7;
    border: 1px solid #ccd0d5;
    border-radius: 5px;
}
.ho-input, .ten-input{
    width: 194px;
}

.phone-input, .pass-input{
    width: 399px;
}
.bd-title, .gt-title{
    color: #606770;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 2px;
}
.bd-item-day,
.bd-item-month,
.bd-item-year{
    border-radius: 4px;
    color: #1c1e21;
    font-size: 15px;
    font-weight: normal;
    height: 36px;
    line-height: 20px;
    width: 125px;
    -webkit-appearance: none;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/Yrq8Y9PlN02.png);
    background-position: right 5px center;
    background-repeat: no-repeat;
    background-size: 14px;
    padding: 0 8px;
    padding-right: 20px;
    border: 1px solid #ccd0d5;
}
.bd-item-month,
.bd-item-year{
    margin-left: 8px;
}

.nu,.nam,.rd{
    background-color: #fff;
    border: 1px solid #ccd0d5;
    display: inline-block;
    flex: 1 0 auto;
    height: 36px;
    margin: 8px 0px;
    padding: 0;
    position: relative;
    width: auto;
    border-radius: 4px;
}
.nu{
    width: 108px;
}
.nam{
    width: 117px;
    margin-left: 8px;
}
.rd{
    width: 151px;
    margin-left: 8px;
}
.gt-item-nu,
.gt-item-nam,
.gt-item-rd{
    color: #1c1e21;
    font-size: 15px;
    line-height: 36px;
    padding: 0 40px 0 10px;
    width: 100%;
}
.note-first, .note-end{
    color: #777;
    font-size: 12px;
    margin: 11px 0px;
}
a{
    color: #385898;
    cursor: pointer;
    text-decoration: none;
}
.dk-buttom{
    text-align: center;
}
.buttom{
    font-weight: bold;
    background: none;
    background-color: #00a400;
    border: none;
    border-radius: 6px;
    box-shadow: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    height: 36px;
    overflow: hidden;
    padding: 0 32px;
    text-shadow: none;
    line-height: 126%;
    margin-top: 10px;
    margin-bottom: 10px;
    min-width: 194px;
    text-align: center;
}