html{
    background-color: #d2dae2;
}
body{
    width: 460px;
    height: 900px;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

h1{
    margin-bottom: 0px;
}
p{
    margin-top: 0px;
}
.header{
    background-color: rgba(19, 19, 104, 0.863);
    color: rgba(255, 255, 255, 0.962);
}
.card-list{
    display: flex;
    gap: 30px;
    font-size: 10px;
    text-align: center;
}
.avatar{
    width: 32px;
    height: 32px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 15px;
}
a{
    text-decoration: none;
}
.container{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.class{
    width: 400px;
    height: 360px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 2px 5px;
    border-radius: 3px;
}

.class-time{
    height: 160px;
    border-radius: 2px;
    
}
.year{
    height: 30px;
    background-color: #3c40c6;
    line-height: 30px;
    
}
.datetime{
    background-color: #575fcf;
    height: 130px;
    
}
.top{
    margin-top: 10px;
}
.space{
    height: 30px;
}
.date{
    font-size: 40px;
    height: 40px;
    width: 59px;
    margin-left: auto;
    margin-right: auto;
}
.month{
    font-size: 16px;
}


.title{
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.time-item{
    text-align: left;
    margin-left: 20px;
    margin-bottom: 5px;
}
.clear{
    width: 380px;
    margin-left: auto;
    margin-right: auto;
}
.dk{
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
    font-size: 20px;
}
